<div id="footer">
  <p>
    © 2024 <a href="soroushesnaashari.github.io">Mohammad Soroush Esnaashari</a>
  </p>
  <p>
    <a href="mailto:soroushesnaashari4@gmail.com">Email</a> ·
    <a href="https://x.com/srshesn">𝕏</a> ·
    <a href="https://www.linkedin.com/in/soroushesnaashari/">LinkedIn</a> ·
    <a href="https://www.kaggle.com/soroushesnaashari">Kaggle</a> ·
    <a href="https://github.com/soroushesnaashari">GitHub</a> ·
    <a href="https://github.com/Trybnetic/minimalist/">Website Theme</a>
  </p>
</div>
