<div id="footer">
  <p>
    © 2024 {{site.owner}}
  </p>
  <p>
    <a href="mailto:soroushesnaashari4@gmail.com"><ion-icon name="mail"></ion-icon></a> ·
    <a href="https://x.com/srshesn"><ion-icon name="logo-twitter"></ion-icon></a> ·
    <a href="https://www.linkedin.com/in/soroushesnaashari/"><ion-icon name="logo-linkedin"></ion-icon></a> ·
    <a href="https://www.kaggle.com/soroushesnaashari"><ion-icon name="link-outline"></ion-icon></a> ·
    <a href="https://github.com/soroushesnaashari"><ion-icon name="logo-github"></ion-icon></a> ·
    <a href="https://github.com/Trybnetic/minimalist/">Website Theme</a>
  </p>
</div>
